@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600,700");
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book'), url('GothamBook.woff') format('woff');
}

.hero-banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/banner/img8.jpg) left center no-repeat;
    background-size: cover;
    z-index: -1;
}
.hero-banner--sm__content{
     font-family:'Rajdhani',sans-serif;
}
.selected-box{
font-family:"Rajdhani",sans-serif;
border: 1px solid #ced4da;
border-radius: .25rem;
color: #495057;
}

.title-home{
	font-family: 'Hammersmith One', sans-serif;
}
